aiohttp~=3.8.1
asyncpg~=0.25.0
docker~=5.0.3
Faker~=10.0.0
fastapi~=0.70.1
Flask~=2.0.3
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
loguru~=0.6.0
pytest~=6.2.5
requests~=2.26.0
SQLAlchemy~=1.4.31
ujson~=5.1.0
werkzeug~=2.0.3
WTForms~=3.0.1
app~=0.0.1
alembic~=1.7.7
Django~=3.2